<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Indice</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/api/insert">Insertar
							datos desde API</a></li>
					<li class="nav-item"><a class="nav-link" href="/api/actores">Listado
							de actores</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Películas </a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/api/peliculas">Listado de películas</a> 
								<a class="dropdown-item" href="/api/peliculasordenadasvote">Listado de películas ordenadas por puntuación</a> 
								<a class="dropdown-item" href="/api/peliculasordenadasnombre">Listado de películas ordenadas por nombre</a>
								<a class="dropdown-item" href="/api/peliculas/1">Filtro de pelicula por ID(seleccionar ID en url, por defecto 1)</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/swagger-ui.html#/api-rest-controller">Swagger Documentation</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/fran199017/SpringBoot_Peliculas/blob/master/README.md">Instrucciones de uso</a>
					</li>
						
 
				</ul>
			</div>
		</nav>

	</header>

	<br>
	<!--  <form th:action="@{/}">
	   Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input type="submit" value="Search" />
    &nbsp;
    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
</form> -->
	
	
	<section>
		<h1>Instrucciones de uso</h1>
		<p>Leer el readme que acompaña el repositorio</p>
		
	</section>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
		

</body>
</html>